

 body{
    display: flex;
    flex-direction: column;
     color:black; 
    
    background-image: linear-gradient(to right top, #85859d, #a089a4, #bd8da1, #d49496, #dea086, #d59e76, #c99c68, #ba9c5c, #a78646, #947131, #825d1c, #6f4904);

}
      .shadow{
        display: flex;
  background-color: azure;
  padding: 25px;
  margin: auto;
  height: auto;
  width:40rem;
  border-radius: 5%;
  margin-bottom: 10rem;
  margin-top:200px;
  justify-content: center;
  align-items: center;
}




